@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Russo+One&subset=latin,cyrillic);

* {
    font-family: 'Ubuntu Condensed' !important;
    font-size: 1em;
}

body {
    background: #bbb;
    width: 1000px;
    padding-left: 50%;
}

#main {
    width: 1000px;
    margin-left: -500px;
}

h2 { color: navy; }
h3 { color: green; }

p { color:  navy; }
a:link { text-decoration: none; color: navy; font-weight: bold; }
a:visited { text-decoration: none; color: navy; font-weight: bold; }
a:active { text-decoration: none; color: navy; font-weight: bold; }
a:hover {
    text-decoration: none;
    color: red;
    font-weight: bold;
    text-shadow: 2px 2px 5px #590000;
}

div#mainscr {background: #bbb; width: 200px; }
div.main_two {background: #bbb; width: 200px; }
.main { margin-left: 10%; margin-right: 10%; }
.images { display: block; }
.album { width: 400px; padding: 5px; }
.galery {
    display: inline;
    float: left;
    margin: 4px;
}

p {clear: both; }
button {
    width: 150px;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}

button.selected {background: gray; }
button.edititem {width: 100px; border-radius: 5px; }
button:hover {
    background: #bbb;
}

.hand {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: 3px solid #ccc;
    background: #f7f7f7;
    text-align: center;
    padding: 10px;
    color: #333;
    font-family: 'Roboto Condensed', verdana;
    font-size: 1em;
    box-shadow: 5px 5px 5px #5F9EA0;
    text-shadow: 0px 0px 3px #008B8B;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

#addhistory {
    width: 15em;
    border-right: 1px solid #bbb;
    padding: 0 0 1em 0;
    margin-bottom: 1em;
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
    background-color: #bbb;
    color: #333;
    margin-left: 30%;
    margin-right: 30%;
}

#addhistory ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

#addhistory li {
    border-bottom: 1px solid #90bade;
    margin: 0;
}

ul {list-style: none;}

#soldier {
    background: #ffff00;
    border-style: solid;
    border-color: #ffff00;
    box-shadow: 10px 10px 5px #5F9EA0;
    text-shadow: 2px 2px 3px #008B8B;
    border-radius: 5px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.beaty {
    position: fixed;
    top: 5px;
    left: 0px;
}

.topbutton {
    width: 100px;
    border: 2px solid #ccc;
    background: #f7f7f7;
    text-align: center;
    padding: 10px;
    position: fixed;
    cursor: pointer;
    color: #333;
    font-family: 'Roboto Condensed', verdana;
    font-size: 12px;
    box-shadow: 5px 5px 5px #5F9EA0;
    text-shadow: 0px 0px 3px #008B8B;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

#up {
    bottom: 150px;
    left: 5px;
}

#back {
    bottom: 100px;
    left: 5px;
}

#home {
    bottom: 50px;
    left: 5px;
}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation li {
    display: inline;
    float: left;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #778899;
    color: #FF8C00;
}


.topmenu {
    list-style: none;
    height: 2em;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto Condensed', verdana;
}

.topmenu li {
    float: left;
    margin-right: 0.13em;
    font-family: 'Roboto Condensed', verdana;
}

.topmenu li a {
    display: block;
    padding: 0 1em;
    font-family: 'Roboto Condensed', verdana;
    text-decoration: none;
    border: 0.06em solid #000;
    border-bottom: 0;
    font: bold 0.88em/2em arial;
    color: #000;
    background-color: #ccc;
}

.topmenu li a:hover {
    background: #3cf;
    color: #fff;
    text-decoration: none;
}

.topmenu li#current a {
    font-family: 'Roboto Condensed', verdana;
    background-color: #bbb;
    color: #fff;
}

.topmenu li#current a:hover {
    background: #39c;
}

#rashod {
    width: 420px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

table {
    border-collapse: collapse;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
}

#vedomost tr td{
    border-style: solid;
    border-color: #000;
    border-spacing: 0px;
    border-width: 1px;
    border-collapse: collapse;
    padding: 3px;
    margin: 0px;
}

.rotated {
    font-family: 'Roboto Condensed' !important;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    writing-mode: tb-rl;
    transform: rotate(-90deg);
    height: 150px;
    width: 8%;
}

.editbutton {
    width: 150px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: #333;
    font-family: 'Roboto Condensed', verdana;
    font-size: 12px;
    box-shadow: 5px 5px 5px #5F9EA0;
    text-shadow: 0px 0px 3px #008B8B;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
}