{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>VSPK Database</title>{% endblock %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{% url 'tweets:index' %}">Tweets (Demo)</a>
        <p class="navbar-text navbar-right">User Profile Page</p>
    </div>
</nav>

<div class="container">
    <div class="page-header">
        {% block header %}
        {% endblock header %}
    </div>
    <div>
        {% block content %}
        {% endblock content %}
        <h3>&nbsp;</h3>
    </div>
</div> <!-- /container -->

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <p class="navbar-text navbar-right">Footer</p>
    <div class="container">
</nav>


</body>
</html>